html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
/*body {
	overflow: hidden;
}*/
.hid {
	/*margin-top: 22px;*/
	overflow: hidden;
}
.my {
	text-decoration: none;
	color: #000;
}
.content {
	min-width: 960px;
	width: 960px;
	margin: 0 auto;
}
.me {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 500px;
	margin: auto;
	line-height: 500px;
}
.joke {
	text-align: center;
}
footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
	font-weight: lighter;
	text-align: center;
	color: #666665;
	font-size: 14px;
}
footer a {
	text-decoration: none;
	color: #666665;
}
